@media screen and (max-width:1014px){

.fa-bars{
  display: block !important;
  /* margin-right: 10px;
  margin-left: 20px */
}

ul{
  display: none;
  padding: 10px;
  background-color: #eaf0f0;
  margin-right: 80px;
  margin-top: 50px
}

ul li{
  display: block !important;
  line-height: 2;
  margin-right: 40px;
}

}

@media screen and (max-width:980px){

.kc-10-content{
  width: 70%;
}
.kc-10-img{
  width: 100%;
}
  
}

@media screen and (max-width:700px){


.contact-column-1{
  width: 100% !important
}

.contact-column-2{
  width:100% !important
}

}

@media screen and (max-width:600px){

.header{
  flex-direction: column;
}

.footer{
  flex-direction: column !important;
}

.footer-misc{
  max-width: 100% !important;
  padding: 20px
}

}

@media screen and (max-width:500px){

.header{
  flex-direction: column !important;
  padding-left: 0%;
}

.kc-double{
  width: 100%;
  padding-left: 0%;
}

.fa-bars{
  display: block !important;
  margin-right: 10px;
  margin-left: 20px;
  /* margin-top: 200px !important */
}

ul li{
 margin-left: 0;
}

.faq{
  max-width: 450px;
}

}

@media screen and (max-width:400px){

  .header{
    width: 100%;
    padding-left: 0%;
  }
  
  ul li{
    margin-left: 0;
  }
  .faq{
    max-width: 300px;
  }
  
}
  